src/main/mule/pipelines.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cbc44d33-f4c1-4b0b-9446-477cdba2972b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="fbe54e81-5f4e-40bb-b00d-aa24d112618b" >
		<http:request-connection host="https://reqres.in" port="80" protocol="HTTPS"/>
	</http:request-config>
	<flow name="pipelinesFlow" doc:id="01ccb229-0f0e-4fbb-9235-bf79dbf1a718" >
		<http:listener doc:name="Listener" doc:id="cb380c2a-0a27-47fd-9722-6fb594ab239e" config-ref="HTTP_Listener_config" path="/jen"/>
		<set-payload value="#['published code to git success']" doc:name="Set Payload" doc:id="9aebc554-76a8-4df8-ac13-c3a128140a4a" />
		<logger level="INFO" doc:name="Logger" doc:id="0f8e1a99-49b7-436b-ac5d-66d5b356116f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="6289fa4c-27bd-4502-9bd6-a4d0a7c0c591" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
